<div class="new-form">
  <%= form_with model: [@merchant, @bulk_discount], local: true do |f| %>
    <%= f.label "title" %>
    <%= f.text_field :title %>

    <%= f.label "Item quantity to qualify for discount" %>
    <%= f.text_field :qty_threshold %>

    <%= f.label :percentage, "Percentage Off" %>
    <%= f.text_field :percentage %>

    <%= f.submit %>
  <% end %>
</div>
