<div>
  <h3>Invoice ID: <%= @invoice.id %></h3>
  <p>Invoice Status: <%= @invoice.status %></p>
  <p><%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
  <h5>Customer Name: <%= @invoice.customer.first_name + @invoice.customer.last_name%></h5>
</div>
<div class="invoice">
  <% @invoice.invoice_items.each do |in_item| %>
    <p><%= in_item.item.name %></p>
    <p><%= in_item.quantity %></p>
    <p><%= in_item.unit_price %></p>
    <p><%= in_item.status %></p>
  <% end %>
</div>
<%= render partial: 'form', locals: { model: [:admin, @invoice] }%>
<div class="total_revenue">
  <p>Total Revenue: <%= number_to_currency(@invoice.total_revenue / 100) %></p>
</div>
<div class="discounted-rev">
  <p>Discounted Total Revenue: <%= number_to_currency(@invoice.discounted_total_rev / 100) %></p>
</div>
