<div class="admin_edit_merchant_form">
  <h1>Edit <%= @merchant.name %></h1>

  <%= form_with model: [:admin, @merchant], local: true do |f| %>
    <%= f.label :name, "Merchant Name: " %>
    <%= f.text_field :name, id: "name" %>

    <%= f.label :disabled, "Disabled (Default)" %>
    <%= f.radio_button :status, "disabled" %>
    
    <%= f.label :enabled, "Enabled" %>
    <%= f.radio_button :status, "enabled" %>
    
    <%= f.submit "Submit" %>
  <% end %>
</div>

