<div class="merchant">


<h1>Merchant Name: <%= @merchant.name %></h1>

<p><%= link_to "Items Index", "/merchants/#{@merchant.id}/items"%></p>
<p><%= link_to "Invoices Index", "/merchants/#{@merchant.id}/invoices"%></p>
<p><%= link_to "My Bulk Discounts!", merchant_bulk_discounts_path(@merchant)%></p>

<div class="items-ready-to-ship">
<h3>Items Ready To Ship</h3>
  <% @merchant.items_ready_to_ship.each do |invoice_item| %>
    <p><%= invoice_item.item.name %></p>
      <p>Invoice No. <%= invoice_item.invoice.id %> Created: <%= invoice_item.item.created_at.strftime("%A %B %d %Y") %></p>
    <% end %>
</div>

<div class="favorite-customers">
 <h3>Favorite Customers</h3>
  <% @merchant.merchants_favorite_customers.each do |customer| %>
    <%= customer.first_name %> <%= customer.last_name %> | Successful Transactions: <%= customer.transactions.count %>
    <% end %>
</div>

</div>
