<!DOCTYPE html>
<html>
  <head>
    <title>Little Esty Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%@github = GithubService.new  %>
    <h3>Github Repository Name: <%= @github.repo_name %></h3>
    <h4>User Names: <%= @github.user_names %></h4>
    <% flash.each do |type, msg| %>
      <div class="flash">
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>

</html>
